*{
  margin:0
}
.form__app{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 40px;
  border: 2px solid red;
  background-color: gray;
  border-radius: 10px;
}
.form_padding{
  padding:40px;
  margin-top: 20px;
  border:10px double black;
  border-radius: 20px;
}

